{% extends 'base.html.twig' %}
{% set title = 'Connexion' %}


{% block body %}
<style>
        .app__flashes__success {
            position: relative;
            width: 100%;
            top: 0;
            margin: 0 0 1.5em 0;
        }
        .app__flashes__error {
            position: relative;
            width: 100%;
            top: 0;
            margin: 0 0 1.5em 0;
        }
        .btnSubmitOutline {
            padding: 0.375rem 0.75rem;
        }
        a {
           color: rgb(55, 57, 66);
        }
    </style>
    <section class="mt-5 mb-5">
        <div class="row justify-content-md-center">
                <div class="col-lg-5 col-md-7">
                    {% for alerte in app.flashes('success') %}
                        <div class="app__flashes__success">
                            {{ alerte | raw }}
                            <div class="app__flashes__close"></div>
                        </div><br>
                    {% endfor %}
            
                    {% if hasError %}
                        <div class="app__flashes__error">
                            <strong>Désolé {{ null != full_name ? full_name : '' }} !</strong> <br>
                            Erreur sur les identifiants
                            <div class="app__flashes__close"></div>
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <h2 style="font-weight: bold;color: #54c0a7">WELCOOOM</h2>
                        {# <a href="{{ path('home') }}">
                            <img src="{{ asset('build/images/static/logotype_welcoom.svg') }}" alt="Logo Welcoom" width="150">
                        </a> #}
                    </div><br>
                    <h4 class="text-center title">Connexion</h4>
                    <hr class="mt-4 mb-4">
            
                    <form name="login" action="{{ path('login') }}" method="post">
            
                        <div class="form-group">
                            <label for="username">Adresse email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
            
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <div class="position-relative">
                                <input type="password" name="password" id="inputPassword" class="form-control">
                                <button type="button" class="btn m-0 p-0" id="mdp__login__show">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button type="button" class="btn m-0 p-0" id="mdp__login__hide">
                                    <i class="fas fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
            
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="text-right mb-3">
                            <a href="{{ path('get_email') }}">Vous avez oublié votre mot de passe ?</a>
                        </div>
            
                        <div class="form-group">
                            <button id="user__login__btn" type="submit" class="btn btnSubmit col-12 mt-2">Se connecter</button>
                        </div>
                    </form>
            
                    <h6 class="text-center font-weight-bolder mt-4">Tu n’as pas encore de compte Welcooom ?<br><br>
                        <a class="btn w-100 btnSubmitOutline" href="{{ path('registration') }}">Inscris-toi</a>
                    </h6>
            
                    <div class="text-center mt-4">
                        <a href="{{ path('home') }}">Retour vers Welcooom</a>
                    </div>
                </div>
            </div>
    </section>
    
{% endblock %}

{% block javascripts %}
    <script>
        $(function() 
        {
            function showHideMdp() 
            {
                $('#mdp__login__show').click(function() 
                {
                    $(this).siblings('#inputPassword').attr('type', 'text');
                    $(this).fadeOut();
                    $('#mdp__login__hide').fadeIn();
                });

                $('#mdp__login__hide').click(function() 
                {
                    $(this).siblings('#inputPassword').attr('type', 'password');
                    $(this).fadeOut();
                    $('#mdp__login__show').fadeIn();
                });
            }
            showHideMdp();

            function login() 
            {
                $('#user__login__btn').click(function(event) 
                {
                    event.preventDefault();

                    $.ajax(
                    {
                        method: 'POST',
                        url: "{{ path('login') }}",
                        data: $('form[name="login"]').serialize(),
                        dataType: 'json',
                        headers: { 'X-Requested-With': 'XMLHttpRequest' },
                        success: (response) => 
                        {
                            
                            if(response.hasError !== true) 
                            {
                                window.location.href = "{{ path('home') }}";
                            } 
                            else 
                            {
                                $('form[name="login"]').before('<div class="app__flashes__error"><strong> Désolé '+ response.full_name +' !</strong><br>Erreur sur les identifiants<div class="app__flashes__close"></div></div>');

                                $('.app__flashes__success').click(() => 
                                {
                                    $('.app__flashes__success').remove();
                                });
                
                                $('.app__flashes__error').click(() => 
                                {
                                    $('.app__flashes__error').remove();
                                });
                                
                                setTimeout(() => 
                                {
                                    $('.app__flashes__success').hide('slow');
                                    $('.app__flashes__error').hide('slow');
                                }, 10000);
                            }
                        },
                    });
                });
            }
            //login();

        });
    </script>
{% endblock %}
