{% extends 'base.html.twig' %}
{% set title = 'Accueil' %}
{% block stylesheets %}
    <style>
        a:hover {
                text-decoration: none
            }
             #ad__search__results {
            display: none;
        }
        #ad_search_etatAvancementProjet {
            padding-right: 36px;
        }
        .favoris {
            color: red !important
        }
        .fa-heart:active {
            transform: scale(1.3)
        }
        .col-main-projet .col-md-4 {
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block body %}
   
<section>
    {# {% le render pour afficher le formulaire de recherche #}
     {{ render(path("ad_search")) }}
     {# fin #}

    <div class="container">
        <section class="col-main-projet">
            <h3>  À la une </h3>
                    <div class="row">
                        {# ici vous mettrez la boucle pour lister les projets #}
                        <div class="col-md-4">
                                <div class="card">
                                    <a href="{{path('projet', {id: '1'})}}">   
                                        <div class="col-min h-270">
                                            <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/VillagePenfeld.png') }}">
                                        </div>
                                    </a>
                                        <div class="card-body">
                                            <i class="far fa-heart"></i>
                                           <a href="{{path('projet', {id: '1'})}}"> 
                                                <h4> Bascule-Pelouse </h4>
                                                <h5 class="primary"> 2750€/m² </h5>
                                                <ul>
                                                    <li>
                                                        <i class="fas fa-door-open"></i>
                                                    </li>
                                                    <li>
                                                        12/14 logements disponibles
                                                    </li>
                                                </ul>
                                                <h6> Besançon </h6>
                                            </a>
                                        </div>
                                </div>
                             
                        </div>
                   {# fin de la boucle #}
                        {# A supprimer, ce sont des justes des exemples #}
                        <div class="col-md-4">
                            <div class="card">
                                    <a href="{{path('projet', {id: '2'})}}">   
                                        <div class="col-min h-270 d-flex justify-content-center align-items-center ">
                                        <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/unnamed.png') }}">
                                        </div>
                                    </a>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                     <a href="{{path('projet', {id: '2'})}}">  
                                        <h4>Oasis la Geriais</h4>
                                        <h5 class="primary">2000€/m2</h5>
                                        <ul>
                                                    <li>
                                                        <i class="fas fa-door-open"></i>
                                                    </li>
                                                    <li>
                                                        7/20 logements disponibles
                                                    </li>
                                                </ul>
                                        <h6>75 - Paris</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                 <a href="{{path('projet', {id: '3'})}}">  
                                    <div class="col-min h-270 d-flex justify-content-center align-items-center">
                                        <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/unnamed-2.jpg') }}">
                                    </div>
                                </a>
                                <div class="card-body">
                                    <i class="far fa-heart"></i>
                                     <a href="{{path('projet', {id: '3'})}}">  
                                        <h4> Tranche de vie </h4>
                                        <h5 class="primary">3000€/m2</h5>
                                        <ul>
                                                    <li>
                                                        <i class="fas fa-door-open"></i>
                                                    </li>
                                                    <li>
                                                        4/15 logements disponibles
                                                    </li>
                                                </ul>
                                        <h6>Palaiseau</h6>
                                     </a>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                    <div class="col-min h-270 d-flex justify-content-center align-items-center">
                                        <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/LesCityZens 183 Ordener halle HD.jpg') }}">
                                    </div>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                    <h4>Port de Terre</h4>
                                    <h5 class="primary">4000€/m2</h5>
                                    <ul>
                                                <li>
                                                    <i class="fas fa-door-open"></i>
                                                </li>
                                                <li>
                                                    3/30 logements disponibles
                                                </li>
                                            </ul>
                                    <h6> Bonneuil sur Marne </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                    <div class="col-min h-270 d-flex justify-content-center align-items-center">
                                        <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/JpOPresse_Habitatparticipatif2020illustration_20200612115234_20200612115255.png.jpeg') }}">
                                    </div>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                    <h4>Le Pre des Hauts Bois</h4>
                                    <h5 class="primary">1000€/m2</h5>
                                        <ul>
                                            <li>
                                                <i class="fas fa-door-open"></i>
                                            </li>
                                            <li>
                                                24/25 logements disponibles
                                            </li>
                                        </ul>
                                    <h6>Verrières-le-Buisson</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                    <div class="col-min h-270 d-flex justify-content-center align-items-center">
                                        <img class="w-100 img-fluid rounded" src="{{asset('build/images/static/habitat-participatif-domaine-des-possibles-le-22-09-2020-pho_4940749.jpeg')}}">
                                    </div>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                    <h4> Ilot Michelet </h4>
                                    <h5 class="primary">300€/m2</h5>
                                    <ul>
                                                <li>
                                                    <i class="fas fa-door-open"></i>
                                                </li>
                                                <li>
                                                    4/5 logements disponibles
                                                </li>
                                            </ul>
                                    <h6>Paris 75016</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                    <div class="col-min h-270">
                                        <img class="w-100 img-fluid rounded" src="{{asset('build/images/static/cpuig.jpg')}}">
                                    </div>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                    <h4>Corneilloux</h4>
                                    <h5 class="primary">300€/m2</h5>
                                    <ul>
                                                <li>
                                                    <i class="fas fa-door-open"></i>
                                                </li>
                                                <li>
                                                    4/5 logements disponibles
                                                </li>
                                            </ul>
                                    <h6>Paris 75016</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                    <div class="col-min h-270">
                                        <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/acceuil-rigtht copie2.jpg') }}">
                                    </div>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                    <h4> Coop Colette </h4>
                                    <h5 class="primary">300€/m2</h5>
                                    <ul>
                                                <li>
                                                    <i class="fas fa-door-open"></i>
                                                </li>
                                                <li>
                                                    4/5 logements disponibles
                                                </li>
                                            </ul>
                                    <h6>Paris 75016</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="col-min h-270">
                                        <img class="w-100 img-fluid rounded" src="{{ asset('build/images/static/2745854824_1.jpg') }}">
                                    </div>
                                <div class="card-body">
                                <i class="far fa-heart"></i>
                                    <h4>La K-Bane</h4>
                                    <h5 class="primary">300€/m2</h5>
                                    <ul>
                                                <li>
                                                    <i class="fas fa-door-open"></i>
                                                </li>
                                                <li>
                                                    4/5 logements disponibles
                                                </li>
                                            </ul>
                                    <h6>Paris 75016</h6>
                                </div>
                            </div>
                        </div>
                        {# fin exemples #}
                    </div>
        </section>
    </div>
</section>
    
{% endblock %}
{% block javascripts %}
    <script>
            $(document).on('click', '.fa-heart', function() {
                $(this).hasClass('favoris')?$(this).removeClass('favoris'):$(this).addClass('favoris')
            } )
    </script>
{% endblock %}