<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('images/static/shortcut_icon.svg') }}">
        
        <!-- Encore CSS -->
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
        <!-- Encore JS -->
        {{ encore_entry_script_tags('app') }}

        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            {% for alerte in app.flashes('success') %}
                <div class="app__flashes__success">
                    {{ alerte | raw }}
                    <div class="app__flashes__close"></div>
                </div><br>
            {% endfor %}

            {% for alerte in app.flashes('errors') %}
                <div class="app__flashes__error">
                    {{ alerte | raw }}
                    <div class="app__flashes__close"></div>
                </div><br>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
