{% extends 'base.html.twig' %}

{% set title = 'candidature' %}

{% form_theme form _self %}

{% block body %}
    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_row(form) }}
        <input type="submit" name="valider" class="btn btn-success mr-5" value="Valider">
        <input type="submit" name="enregistrer" class="btn btn-warning ml-5" value="Enregistrer">
        {{ form_end(form) }}
    </div>
{% endblock %}

{#                 ajout des Acquereur            #}
{% block _candidature_acquereurs_entry_row %}
    <div id="entry_{{ id }}" class="d-flex Personne">
        <div class="w-100">
            Acquéreur
            {{ form_row(form.gender, {'label': 'Civilité*'}) }}
            {{ form_row(form.lastname, {'label': 'Nom*'}) }}
            {{ form_row(form.firstname, {'label': 'Prénom*'}) }}
            {{ form_row(form.date_anniversaire, {'label': 'date anniversaire'}) }}
            {{ form_row(form.code_postal, {'label': 'Code postal*'}) }}
            {{ form_row(form.ville, {'label': 'Ville*'}) }}
            {{ form_row(form.addresse, {'label': 'Addresse'}) }}
            {{ form_row(form.pays, {'label': 'Pays'}) }}
            {{ form_row(form.tel_mobile, {'label': 'Téléphone portable*'}) }}
            {{ form_row(form.tel_fixe, {'label': 'Téléphone du domicile*'}) }}
            {{ form_row(form.tel_professional, {'label': 'Téléphone professionnel*'}) }}
            {{ form_row(form.email, {'label': 'E-mail'}) }}
            {{ form_row(form.financiaryProfessionalSituation, {'label': 'Situation Financière'}) }}
        </div>
        <div class="flex-shrink-1">
            <button type="button" class="btn btn-danger deletePersonne btn-sm"><i class="fas fa-times"></i></button>
        </div>
    </div>
{% endblock %}

{% block _candidature_acquereurs_row %}
    {{ form_row(form) }}
    <button type="button" id="addPersonne"> ajouter un acquereur</button>
{% endblock %}


{#                 ajout des Crédits              #}
{% block _candidature_credits_entry_row %}
    <div id="entry_{{ id }}" class="d-flex Credits">
        <div class="w-100">
            {{ form_row(form.begin, {'label': 'début'}) }}
            {{ form_row(form.end, {"label": 'fin'}) }}
            {{ form_row(form.payementMois, {"label" : 'Mensualitées'}) }}
        </div>
        <div class="flex-shrink-1">
            <button type="button" class="btn btn-danger deleteCredits btn-sm"><i class="fas fa-times"></i></button>
        </div>
    </div>
{% endblock %}

{% block _candidature_credits_row %}
    {{ form_row(form) }}
    <button type="button" id="addCredit"> ajouter un crédits</button>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            // rajout d'une personne a charge pour l'acquereur
            $('#addPersonne').click( () => {
                let acquereur = $("#candidature_acquereurs");
                let datepicker = $('.js-datepicker');
                let index = $(".Personne").length;
                let template = acquereur.data("prototype").replace(/__name__/g, index);

                acquereur.append(template);
                datepicker.datepicker(
                    {
                        language: 'fr',
                        autoclose: true,
                        todayHighlight: true,
                    });

                datepicker.attr('placeholder', 'jour / mois / année');

                delPersonne(index);
            });

            // suppression d'un acquereur
            function delPersonne(index) {
                $(".deletePersonne").click(function () {
                    alert(index);
                    $(this).closest("#entry_candidature_acquereurs_" + index).remove();
                });
            }

            // rajout d'un credit pour l'acquereur
            $("#addCredit").click(() => {
                let index = $(".Credit").length;
                let template = $("#candidature_credits").data("prototype").replace(/__name__/g, index);

                $("#candidature_credits").append(template);

                $('.js-datepicker').datepicker({
                        language: 'fr',
                        autoclose: true,
                        todayHighlight: true,
                });

                $('.js-datepicker').attr('placeholder', 'jour / mois / année');

                delCredit(index);
            });

            // suppresion d'un credit pour le coacquereur
            function delCredit(index) {
                $(".deleteCredits").click(function () {
                    $(this).closest("#entry_candidature_credits_" + index).remove();
                });
            }

            //get info api
            $("#candidature_acquereur_code_postal").focusout(function () {
                let code_postal = $("#candidature_acquereur_code_postal").val()
                $(".div_ville_check").remove();

                $.get("https://geo.api.gouv.fr/communes?codePostal=" + code_postal + "&fields=nom&format=json&geometry=centre", function (reponse) {
                    if (reponse.length > 0) {
                        document.forms["candidature"]["candidature[acquereur][ville]"].value = reponse[0]["nom"];

                        $(reponse).each((indice, element) => {

                            $("#candidature_acquereur_ville").parent().after(
                                "<div class=\"form-check div_ville_check  form-check-inline\">\n" +
                                "  <input class=\"form-check-input ville_check\" type=\"radio\" id=" + indice + " value=" + element.nom + ">\n" +
                                "  <label class=\"form-check-label\" for=" + indice + ">" + element.nom + "</label>\n" +
                                "</div>"
                            );

                        });

                        $(".ville_check").click(function () {
                            $("#candidature_acquereur_ville").val($(this).val());
                            $(".div_ville_check").remove();
                        });

                    } else {
                        $("#candidature_acquereur_code_postal").after(
                            "<div class='text-danger'> aucune ville ne correspond à " +
                            "<strong> \" "+ $("#candidature_acquereur_code_postal").val() +" \"</strong>"+
                            "</div>"
                        );
                    }
                });

            });


            //display input
            $('#candidature_LogementActuel_statuts_3').on('input', function () {
                $(".autresStatus").remove();
                $(this).parent().append(
                    '<div class="form-check form-check-inline">' +
                    '<input type="text" class="form-check-input autresStatus">' +
                    '</div>'
                );
                $(".autresStatus").focus()
            });

            $('#candidature_LogementActuel_statuts input[type="radio"]').not($("#candidature_LogementActuel_statuts_3")).on('input', function () {
                $(".autresStatus").fadeOut();
            });
        })
    </script>
{% endblock %}
